@charset "utf-8";
@import "../../../assets/scss/common";

body {
    margin: 0 auto;
    overflow-x: hidden;
    .my-card {
        margin: 15px;
        margin-top: 70px;
    }
}

#media-report-trend-bar {
    width: 100%;
    height: 400px;
}

#media-bar-chart {
    width: 100%;
    height: 400px;
}

#keywords-chart {
    width: 100%;
    height: 400px;
}

#posNews .my-card-box {
    border: 1px solid #ccc;
    margin: 15px;
    margin-top: 70px;
    .el-card__header {
        background: #fff;
        border-bottom: none;
        .clearfix {
            text-align: left;
        }
    }
    .my-title {
        text-align: center;
        line-height: 58px;
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 20px;
        color: #000
    }
    .sort {
        margin-left: 9%;
    }
    .rel {
        background: #cccccc;
    }
}
