@charset "utf-8";
@import "../../../assets/scss/common";

#highAccident,#weeklyhighAccident,#industryHighAccident,#areaHighAccident{
    width:100%;
    height: 400px;
}
.el-card .el-card__header {
    border-bottom: 1px solid #dde1e3;
    background-color: #dde1e3;
}
.chart-text{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #666;
}
