@import "variable";
body {
    background-color: $background-color;
}

.el-row {
    margin-bottom: $el-row-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
}

body{
    margin: 0 auto;
    overflow-x: hidden;
}
#content{
    width: 85%;
    position: absolute;
    left: 13.7%;
    top: 75px;
}

//设置默认的card style
.el-card {
    border: $card-border;
    border-radius: $card-border-radius;
    background-color: $background-color;
    .el-card__header {
        min-height: $card-header-height;
        border-bottom: $card-header-bottom;
        background-color: $card-header-background-color;
        color: $card-header-color;
    }
}

.el-card {
    .panel-height {
        height: 40px;
        color: $font-color;
    }

    .el-card__header {
        padding: 5px 10px;
        color: $font-color;
        .clearfix {
            text-align: center;
        }
    }
}

