$background-color: #eef1f6;

$card-border-width: 2px;
$card-border-color: #1D90E6;
$card-border-radius: 0;
$card-border: $card-border-width solid $card-border-color;

$card-header-background-color: #1D90E6;
$card-header-color: #000;
$card-header-height: 30px;
$card-header-bottom-color: #1D90E6;
$card-header-bottom: 1px solid $card-header-bottom-color;

$card-body-background-color: #fff;
$el-row-margin-bottom: 10px;

$font-color: #fff;
