@charset "utf-8";
@import "../../../assets/scss/common";

body {
    padding: 0;
    margin: 0;
    background: url(../../../../static/img/logo-bj.jpg) no-repeat center top fixed;
    background-size: 100% 90%
}

.header {
    margin-left: 20px;
    margin-top: 10px;
}

.panel-heading {
    padding: 2px 17px !important;
}

.f_r {
    float: right;
}

#login-panel {
    height: 280px;
    background-color: #fff;
    margin-right: 260px;
    width: 280px;
    filter: alpha(opacity=90);
    box-shadow: 5px 5px 12px #8F8F90;
    border-radius: 10px;
}

.panel-primary {
    border-color: #428bca;
}
.login_font{
    color: #000!important;
    font-size: 24px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-family: 微软简综艺;
    width: 100%;
    border-bottom: 1px solid #207fff;
}

.panel-heading {
    //color: #fff;
    //height: 40px;
    //line-height: 0;
    //margin-left: -1px;
    //margin-top: -1px;
    //width: 90%;
    //background-color: #428bca;
    //border-color: #428bca;
    //border-bottom: 1px solid transparent;
    //border-top-left-radius: 3px;
    //border-top-right-radius: 3px;
    color: #207DFE;
    font-size: 18px;
    text-align: center;
    height: 40px;
    line-height: 0;
    margin-left: -1px;
    margin-top: -1px;
    width: 90%;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.login-message {
    color: #ff0000;
    text-align: center;
    line-height: 25px;
    height: 25px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

#login-panel #msg {
    color: red;

}

#login-panel input {
    /* 	height: 40px !important; */
}

.roundedTwo label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: -moz-linear-gradient(top, #0e6789 0%, #0e6789 100%);
    background: -webkit-linear-gradient(top, #0e6789 0%, #0e6789 100%);
    background: linear-gradient(to bottom, #0e6789 0%, #0e6789 100%);
    /*
   background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
   background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
   background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
   */
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}

.roundedTwo label:after {
    content: '';
    width: 12px;
    height: 7px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}

.roundedTwo input[type=radio] {
    visibility: hidden;
}

.roundedTwo input[type=radio]:checked + label:after {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 1;
}

.foot {
    position: absolute;
    bottom: 2px;
    width: 100%;
    background: #F3F3F3;
}

.tit_span {
    //FONT-SIZE: 32pt;
    font-size:34px;
    padding-left: 16%;
    padding-top: 20px;
    font-weight: 600;
    font-family: 黑体;
    //text-shadow: 1px 1px rgba(197, 223, 248,0.8),2px 2px rgba(197, 223, 248,0.8),3px 3px rgba(197, 223, 248,0.8),4px 4px rgba(197, 223, 248,0.8),5px 5px rgba(197, 223, 248,0.8),6px 6px rgba(197, 223, 248,0.8);
    /*FILTER: shadow(color=#fff);*/
    COLOR: #fff;
    //LINE-HEIGHT: 100%;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #da2006;
    border-color: #da2006;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #da5704;
    border-color: #da5704;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    width: 67%;
    margin-left: 48px;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.wid {
    width: 65%;
}

.el-input__inner {
    height: 32px;
}

.el-button--primary {
    color: #fff;
    background-color: #da5704 !important;
    border-color: #da5704 !important;
    width: 100px;
}

.el-button--primary:hover {
    color: #fff;
    background-color: #da2006 !important;
    border-color: #da2006 !important;
}

.login_button {
    width: 90%;
}

.panel-body {
    padding-left: 0;
    padding-right: 38px;
}

.text-center {
    text-align: center !important;
}
.hello{
    font-size: 12px;
    color: #207DFE;
    font-family: '微软雅黑';
    margin-left: 15px;
    margin-top: 10px;
}
.form_p{
    padding-left: 20px;
    line-height: 60px;
    width: 260px;
}
.i_con{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin-top: 7px;
    background: url(../../../../static/img/user_1.png) no-repeat center;
    background-size: cover;
}
.i_con2{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin-top: 7px;
    background: url(../../../../static/img/psw.png) no-repeat center;
    background-size: cover;

}

