@charset "utf-8";
@import "../../../assets/scss/common";

.box-tablist {
    padding: 0px 20px;
    //background-color: #00b7ed;
    background: -webkit-linear-gradient(top, #00b7ed 0, #00b8ec 100%);
    background: -moz-linear-gradient(top, #00b7ed 0, #00b8ec 100%);
    background: -o-linear-gradient(top, #00b7ed 0, #00b8ec 100%);
    background: linear-gradient(to bottom, #00b7ed 0, #00b8ec 100%);
    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
    color: #000000;
}

.row-bg {
    padding: 10px 0;
}

.lists {
    height: 100%;
    .list-box {
        .table-top {
            height: 58px;
            .news-title {
                float: left;
                height: 30px;
                line-height: 30px;
                font-size: 24px;
                background: url('../../../../static/img/lanmu_bj.png') no-repeat;
                display: inline-block;
                width: 120px;
                padding: 13px;
                text-align: center
            }
        }

        .table-bottom {
            height: 45px;
            .news-more {
                color: $font-color;
                display: inline-block;
                width: 120px;
                padding: 13px;
                text-align: center;
                float: right;
                height: 20px;
                line-height: 20px;
                font-size: 18px;
                background: url('../../../../static/img/more_button.png') no-repeat;
                cursor: pointer;
            }
        }

        .article-list {
            list-style: none;
            margin: 0;
            padding-left: 50px;
            li {
                height: 30px;
                line-height: 30px;
                margin-top: 10px;
                padding-left: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                -webkit-box-shadow: 0 0 10px rgba(0, 204, 204, .5);
                -moz-box-shadow: 0 0 10px rgba(0, 204, 204, .5);
                box-shadow: 0 0 2px rgba(0, 204, 204, .5);
                a {
                    div {
                        span {
                            cursor: pointer;
                            float: left;
                            //padding-left: 160px;
                            //&:first-child {
                            //    float: left;
                            //    margin-left: 10px;
                            //}
                            //&:last-child {
                            //    float: left;
                            //    margin-right: 10px;
                            //}
                        }
                    }

                }

            }
        }
    }
}

#accident-report-bar {
    width: 100%;
    height: 400px;
}

#netizen-consensus-bar {
    width: 100%;
    height: 400px;
}

#netizen-option-pie {
    width: 100%;
    height: 400px;
}

#netizen-map {
    width: 100%;
    height: 400px;
}

#keywords-chart {
    width: 100%;
    height: 400px;
}

#netizen-options {
    width: 100%;
    height: 400px;
}

#media-report-analysis-pie {
    width: 100%;
    height: 320px;
}

#media-article-type-pie {
    width: 100%;
    height: 400px;
}

#media-bar-chart {
    width: 100%;
    height: 400px;
}

#media-report-trend-bar {
    width: 100%;
    height: 400px;
}

#net-title-bar {
    width: 100%;
    height: 400px;
}

#currentSpecial .my-card {
    border: 1px solid #ccc;
    .el-card__header {
        background: #fff;
        border-bottom: none;
        .clearfix {
            text-align: left
        }
    }
    .my-title {
        text-align: center;
        line-height: 58px;
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 20px;
        color: #000
    }
}
.el-select .el-input {
    width: 110px;
}

