@charset "utf-8";
@import "../../../assets/scss/common";


#accident-report-bar {
    width: 100%;
    height: 400px;
}

#netizen-consensus-bar {
    width: 100%;
    height: 400px;
}

#netizen-option-pie {
    width: 100%;
    height: 400px;
}

#netizen-map {
    width: 100%;
    height: 400px;
}

#keywords-chart {
    width: 100%;
    height: 400px;
}

#netizen-options {
    width: 100%;
    height: 400px;
}

#media-report-analysis-pie {
    width: 100%;
    height: 320px;
}

#media-article-type-pie {
    width: 100%;
    height: 400px;
}

#media-bar-chart {
    width: 100%;
    height: 400px;
}

#media-report-trend-bar {
    width: 100%;
    height: 320px;
}

#net-title-bar {
    width: 100%;
    height: 400px;
}

#currentSpecial .my-card-box {
    border: 1px solid #ccc;
    margin:15px;
    margin-top:70px;
    .el-card__header {
        background: #fff;
        border-bottom: none;
        .clearfix {
            text-align: left;
            line-height: 40px;
        }
    }
    .my-title {
        text-align: center;
        line-height: 58px;
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 20px;
        color: #000
    }
}
.el-select .el-input {
    width: 110px;
}

