@charset "UTF-8";
body {
  background-color: #ffffff; }

.el-row {
  margin-bottom: 10px; }
  .el-row:last-child {
    margin-bottom: 0; }

body {
  margin: 0 auto;
  overflow-x: hidden; }

#content {
  width: 85%;
  position: absolute;
  left: 13.7%;
  top: 75px; }

.el-card {
  border: 1px solid #ffffff;
  border-radius: 0px;
  background-color: #ffffff; }
  .el-card .el-card__header {
    min-height: 30px;
    border-bottom: 1px solid #1D90E6;
    background-color: #1D90E6;
    color: #000; }

.el-card .panel-height {
  height: 40px;
  color: #fff; }
.el-card .el-card__header {
  padding: 5px 10px;
  color: #fff; }
  .el-card .el-card__header .clearfix {
    text-align: center; }

.el-card {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px rgba(196, 192, 193, 0.5);
  -moz-box-shadow: 0 0 10px rgba(196, 192, 193, 0.5);
  box-shadow: 0 0 10px rgba(196, 192, 193, 0.5);
  background-color: #f8f9fb; }

.el-card .el-card__header {
  padding: 5px 10px;
  background-color: #dde1e3;
  color: #223048;
  border: none; }

.el-card__body {
  background-color: #ffffff; }

.article-list {
  margin-left: -30px; }

.article-list li {
  line-height: 30px;
  list-style: none;
  cursor: pointer;
  color: #666; }

.title-bj {
  width: 129px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: url("../../../../static/img/button-news.png") no-repeat; }

.table-bottom {
  height: 30px; }
  .table-bottom .news-more {
    color: #fff;
    display: inline-block;
    width: 106px;
    float: right;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    background: url("../../../../static/img/more-button.png") no-repeat;
    cursor: pointer; }

.chart-text {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #666; }

.lists {
  height: 100%;
  margin-bottom: 20px; }
  .lists .list-box .table-top {
    height: 58px; }
    .lists .list-box .table-top .news-title {
      float: left;
      height: 30px;
      line-height: 30px;
      font-size: 24px;
      background: url("../../../../static/img/lanmu_bj.png") no-repeat;
      display: inline-block;
      width: 120px;
      padding: 13px;
      text-align: center; }
  .lists .list-box .article-list {
    list-style: none; }
    .lists .list-box .article-list li {
      height: 25px;
      line-height: 25px;
      margin-top: 10px;
      font-size: 16px; }
      .lists .list-box .article-list li span {
        cursor: pointer; }
        .lists .list-box .article-list li span:first-child {
          float: left;
          margin-left: 10px; }
        .lists .list-box .article-list li span:last-child {
          float: right;
          margin-right: 10px; }

#emotion-chart {
  width: 100%;
  height: 380px; }

.buttons .el-tabs__item.is-active {
  border-bottom: 2px solid #20a0ff; }

#type-category-chart {
  width: 100%;
  height: 250px; }

#sentimentAnalysis, #media-bar-chart {
  width: 100%;
  height: 400px; }

#mediaTypeTrendAnalysis {
  width: 100%;
  height: 341px; }

#mediaTypeBarAnalysis {
  width: 100%;
  height: 341px; }

.el-dialog--small {
  width: 80%; }

.positive {
  color: #0092ff;
  font-weight: 600;
  border: 1px solid #0092ff;
  border-radius: 10px;
  padding: 3px; }

.negative {
  color: #d74e67;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #d74e67;
  padding: 3px; }

.neutral {
  color: #eba954;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #eba954;
  padding: 3px; }

.list {
  width: 100%;
  margin: 0 auto; }
  .list .el-tabs__item.is-active {
    width: 191px;
    height: 55px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background: url("../../../../static/img/dzhyqbj.png") no-repeat;
    color: #ffffff; }
  .list .el-tabs__item {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 600; }
  .list .ceartspecial {
    float: right;
    margin-right: -5%;
    margin-bottom: 2px;
    width: 128px;
    height: 47px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: url("../../../../static/img/button.png") no-repeat;
    outline: 0; }
    .list .ceartspecial span {
      cursor: pointer; }
  .list .row-bg {
    padding: 10px 0; }
  .list .content {
    width: 100%;
    margin: 0 auto;
    height: auto; }
    .list .content .l_style {
      width: 90%;
      list-style-type: none;
      margin-bottom: 20px;
      padding: 20px;
      position: relative;
      margin-left: 24px; }
    .list .content .l_bottom {
      width: 100%;
      line-height: 40px;
      position: absolute;
      background-color: #F9F9F9;
      box-sizing: content-box;
      height: 40px;
      list-style-type: none;
      color: #444342;
      padding-left: 20px; }
    .list .content .a_position {
      line-height: 41px;
      font-size: 14px; }
    .list .content .a_font {
      font-size: 18px;
      font-family: '微软雅黑';
      font-weight: 600; }
    .list .content .a_font:hover {
      color: #FFC265;
      cursor: pointer; }
    .list .content .author {
      display: inline-block;
      font-size: 14px;
      width: 180px;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px;
      color: #6664C2; }
    .list .content .author:hover {
      cursor: pointer; }
    .list .content .bar_title {
      cursor: pointer;
      display: inline-block;
      width: 110px;
      border: 1px solid #ddd;
      overflow: hidden;
      font-size: 12px;
      color: #4c4c4c;
      text-align: center;
      height: 25px;
      line-height: 25px;
      left: 0;
      font-family: arial, SimSun; }
    .list .content .news_p {
      padding-left: 20px; }
    .list .content .news_m {
      margin-top: 10px;
      line-height: 30px;
      font-size: 16px;
      color: #666;
      margin-bottom: 10px; }
    .list .content .block {
      display: block; }
    .list .content .el_coldate {
      width: 90%;
      margin-left: 100px;
      margin-right: auto; }
    .list .content .ul_p {
      padding-top: 10px; }
    .list .content .sours, .list .content .time, .list .content .number {
      color: #6b7eeb; }

/*# sourceMappingURL=index.css.map */
