@charset "utf-8";
@import "../../../assets/scss/common";

.el-card {
    border: none;
    border-radius: 0;
    -webkit-box-shadow:0 0 10px rgba(196, 192, 193, .5);
    -moz-box-shadow:0 0 10px rgba(196, 192, 193, .5);
    box-shadow:0 0 10px rgba(196, 192, 193, .5);
    background-color: #f8f9fb;
    .card-body {
        //height:700px;
        //overflow-y:scroll;
        //overflow-x:hidden;
    }
}
.el-card .el-card__header {
    padding: 5px 10px;
    background-color: #dde1e3;
    color: #223048;
    border: none;
}
.el-card__body{
    background-color: #ffffff;
}
.lists {
    height: 100%;
    margin-bottom: 20px;
    .list-box {
        li{
            cursor: pointer;
        }
        .table-top {
            height: 58px;
            .news-title {
                float: left;
                height: 30px;
                line-height: 30px;
                font-size: 24px;
                background: url('../../../../static/img/lanmu_bj.png') no-repeat;
                display: inline-block;
                width: 120px;
                padding: 13px;
                text-align: center
            }
        }

        .table-bottom {
            height: 45px;
            .news-more {
                color: $font-color;
                display: inline-block;
                width: 120px;
                padding: 13px;
                text-align: center;
                float: right;
                height: 20px;
                line-height: 20px;
                font-size: 18px;
                background: url('../../../../static/img/more_button.png') no-repeat;
                cursor: pointer;
            }
        }

        .article-list {
            list-style: none;
            margin: 0;
            padding-left: 0;
            li {
                height: 25px;
                line-height: 25px;
                margin-top: 10px;
                font-size: 16px;
                span {
                    cursor: pointer;
                    &:first-child {
                        float: left;
                        margin-left: 10px;
                    }
                    &:last-child {
                        float: right;
                        margin-right: 10px;
                    }
                }
            }
        }

    }
}

#emotion-chart, #type-category-trend-chart {
    width: 100%;
    height: 380px;
}

#type-category-chart {
    width: 100%;
    height: 250px;
}
#sentimentAnalysis,#media-bar-chart{
    width: 100%;
    height: 400px;
}
#carrierAnalysis,#carrierAnalysisMonth,#carrierAnalysisNearlyDays,#carrierAnalysisYesterday{
    width: 100%;
    height: 341px;
}
#carrierAnalysisType,#carrierAnalysisTypeMonth,#carrierAnalysisTypeNearlyDays,#carrierAnalysisTypeYesterday{
    width: 100%;
    height: 341px;
}
.el-dialog--small {
    width: 80%;
}

.list {
    width: 100%;
    margin: 0 auto;
    //.card-body {
    //    height: 800px;
    //    position: fixed;
    //    left:16.66667%;
    //    //border: 1px solid #d1dbe5;
    //    //border-radius: 4px;
    //    //background-color: #fff;
    //    //overflow: hidden;
    //    //-webkit-box-shadow: 0 0 10px #666;
    //    //-moz-box-shadow: 0 0 10px #666;
    //    //box-shadow: 0 0 10px #666;
    //}
    .el-tabs__item.is-active {
        width: 191px;
        height: 55px;
        line-height: 45px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        background: url('../../../../static/img/dzhyqbj.png') no-repeat;
        color: #ffffff;
    }
    .el-tabs__item {
        width: 200px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
    }
    .ceartspecial {
        float: right;
        margin-right: -5%;
        margin-bottom: 2px;
        width: 128px;
        height: 47px;
        line-height: 48px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        background: url('../../../../static/img/button.png') no-repeat;
        outline: 0;
        span {
            cursor: pointer;
        }
    }

    .row-bg {
        padding: 10px 0;
    }
    .content {
        width: 100%;
        margin: 0 auto;
        height: auto;
        .l_style {
            width: 90%;
            list-style-type: none;
            margin-bottom: 20px;
            padding: 20px;
            position: relative;
            margin-left: 24px;
        }
        .l_bottom {
            width: 100%;
            position: absolute;
            background-color: #F9F9F9;
            box-sizing: content-box;
            height: 40px;
            list-style-type: none;
            color: #444342;
            padding-left:20px ;
        }
        .a_position {
            line-height: 41px;
            font-size: 14px;
        }
        .a_font {
            font-size: 18px;
            font-family: '微软雅黑';
            font-weight: 600;
        }
        .a_font:hover {
            color: #FFC265;
            cursor: pointer;
        }
        .author {
            display: inline-block;
            font-size: 14px;
            width: 180px;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;
            color: #6664C2;
        }
        .author:hover {
            cursor: pointer;

        }
        .bar_title {
            cursor: pointer;
            display: inline-block;
            width: 110px;
            border: 1px solid #ddd;
            overflow: hidden;
            font-size: 12px;
            color: #4c4c4c;
            text-align: center;
            height: 25px;
            line-height: 25px;
            left: 0;
            font-family: arial, SimSun;

        }
        .news_p {
            padding-left: 20px;
        }
        .news_m {
            margin-top: 10px;
            line-height: 30px;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .block{
            display:block;
        }
        .el_coldate{
            width: 90%;
            margin-left: 100px;
            margin-right: auto;
        }
        .ul_p{
            padding-top: 10px;
        }
        .sours,.time,.number{
            color: #6b7eeb;
        }
    }

}
