@charset "utf-8";
@import "../../../assets/scss/common";

.el-card {
    .panel-height {
        height: 40px;
        color: $font-color;
    }

    .card-body {
        height: 1288px;
    }

    .el-card__header {
        color: $font-color;
    }
}

.lists {
    height: 100%;
    .list-box {
        .table-top {
            height: 58px;
            .news-title {
                float: left;
                height: 30px;
                line-height: 30px;
                font-size: 24px;
                background: url('../../../../static/img/lanmu_bj.png') no-repeat;
                display: inline-block;
                width: 120px;
                padding: 13px;
                text-align: center
            }
        }

        .table-bottom {
            height: 45px;
            .news-more {
                color: $font-color;
                display: inline-block;
                width: 120px;
                padding: 13px;
                text-align: center;
                float: right;
                height: 20px;
                line-height: 20px;
                font-size: 18px;
                background: url('../../../../static/img/more_button.png') no-repeat;
                cursor: pointer;
            }
        }

        .article-list {
            list-style: none;
            margin: 0;
            padding-left: 0;
            li {
                height: 25px;
                line-height: 25px;
                margin-top: 10px;
                font-size: 16px;
                span {
                    cursor: pointer;
                    &:first-child {
                        float: left;
                        margin-left: 10px;
                    }
                    &:last-child {
                        float: right;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

#emotion-chart, #type-category-trend-chart {
    width: 100%;
    height: 380px;
}

#type-category-chart {
    width: 100%;
    height: 250px;
}
