@charset "utf-8";
@import "../../../assets/scss/common";

.report-content {
    padding: 10px 80px;
    .outline {
        text-align: center;
        border: 1px solid #7DB5EE;
        -webkit-box-shadow: 0 0 10px #1D90E6;
        -moz-box-shadow: 0 0 10px #1D90E6;
        box-shadow: 0 0 10px #1D90E6;
        border-radius: 5px;
        font-size: 20px;
        min-height: 50px;
        margin: 50px;
        margin-bottom: 20px;
        line-height: 50px;
        font-weight: 600;
        div {
            display: inline-block;
        }

        .listNum {
            color: #EB7E23;
            font-size: 24px;
        }
        .percent {
            color: #7BDF86;
            font-size: 24px;
        }
    }
    .title {
        &.level-one {
            color: #333;
            font-size: 26px;
            line-height: 78px;
        }
        &.level-two {
            color: #555;
            font-size: 18px;
            line-height: 50px;
        }
        &.level-three {
            color: #777;
            font-size: 16px;
            line-height: 40px;
        }
    }
    .describe-text {
        text-indent: 2em;
        color: #000000;
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
        .describe-redText {
            color: #eb7e23;
            font-size: 24px;
        }
    }
    // report chart size
    #article-type-pie-chart {
        margin: auto;
        width: 800px;
        height: 400px;
    }
    #news-emotion-pie-chart {
        margin: auto;
        width: 800px;
        height: 400px;
    }
    #accident-area-chart {
        margin: auto;
        width: 800px;
        height: 400px;
    }
    #media-bar-chart {
        margin: auto;
        width: 800px;
        height: 400px;
    }

    #article-trend-chart {
        margin: auto;
        width: 1200px;
        height: 400px;
    }
    #news-hot-point {
        margin: auto;
        width: 1200px;
        height: 400px;
    }
    #month-accident-bar-chart {
        margin: auto;
        width: 1200px;
        height: 400px;
    }
    #accident-type-pie-chart {
        margin: auto;
        width: 800px;
        height: 400px;
    }
    #accident-map-chart {
        margin: auto;
        width: 800px;
        height: 500px;
    }
    #comment-pie-chart {
        margin: auto;
        width: 1200px;
        height: 600px;
    }

    #hot-keywords-chart {
        margin: auto;
        width: 400px;
        height: 300px;
    }
    #comment-keywords-chart {
        margin: auto;
        width: 400px;
        height: 300px;
    }
}



