@charset "UTF-8";
body {
  background-color: #ffffff; }

.el-row {
  margin-bottom: 10px; }
  .el-row:last-child {
    margin-bottom: 0; }

.el-card {
  border: 2px solid #1D90E6;
  border-radius: 0;
  background-color: #ffffff; }
  .el-card .el-card__header {
    min-height: 30px;
    border-bottom: 1px solid #1D90E6;
    background-color: #1D90E6;
    color: #000; }

.el-card .panel-height {
  height: 40px;
  color: #fff; }
.el-card .el-card__header {
  padding: 5px 10px;
  color: #fff; }
  .el-card .el-card__header .clearfix {
    text-align: center; }

.box-tablist {
  padding: 0px 20px;
  background: -webkit-linear-gradient(top, #00b7ed 0, #00b8ec 100%);
  background: -moz-linear-gradient(top, #00b7ed 0, #00b8ec 100%);
  background: -o-linear-gradient(top, #00b7ed 0, #00b8ec 100%);
  background: linear-gradient(to bottom, #00b7ed 0, #00b8ec 100%);
  -webkit-filter: blur(10px);
  /* Chrome, Opera */
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
  color: #000000; }

.row-bg {
  padding: 10px 0; }

.list-header {
  text-align: center; }
  .list-header .title {
    color: #ffffff;
    font-size: 30px;
    line-height: 78px;
    width: 371px;
    height: 78px;
    margin: auto;
    background-image: url("../../../../static/img/bgbj.png"); }

.m_l10 {
  margin-left: 10%; }

.border_1 {
  border-bottom: 1px solid #ddd; }

.font_style {
  margin-top: 20px;
  font-size: 18px;
  font-family: "微软雅黑"; }

.dt_entity {
  font-family: "Microsoft Yahei","SimSun";
  margin-bottom: 15px;
  font-size: 20px;
  opacity: 0.9; }

.person_name {
  background-color: #99CC67;
  color: #fff;
  font-family: "Microsoft Yahei","SimSun"; }

.area {
  background-color: #488fce;
  color: #fff;
  font-family: "Microsoft Yahei","SimSun"; }

.org_name {
  background-color: #ff7f0e;
  color: #fff;
  font-family: "Microsoft Yahei","SimSun"; }

dd {
  display: inline-block;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  margin: 0 5px 5px 0;
  padding: 0 11px;
  color: black; }

#emotion-guage {
  width: 100%;
  height: 400px; }

.field {
  color: #3A92C4;
  font-weight: 700; }

.title {
  height: 120px;
  line-height: 100px;
  font-size: 24px;
  text-align: center;
  color: #000;
  font-family: "微软雅黑"; }

.main {
  min-height: 200px; }

.new {
  height: 50px;
  font-size: 16px;
  font-family: "微软雅黑";
  font-weight: 700;
  text-align: center;
  color: #999; }

.content {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 16px;
  font-family: "微软雅黑"; }
  .content span {
    height: 160px;
    line-height: 40px;
    margin-bottom: 20px; }

#hotLists {
  width: 100%;
  height: 400px; }

.key {
  height: 100px;
  margin-top: 30px;
  line-height: 110px;
  font-size: 16px;
  font-family: "微软雅黑";
  font-weight: 700;
  text-indent: 2em; }

.m_t20 {
  margin-top: 20px; }

.imgStyle {
  display: inline-block;
  width: 40px;
  margin-top: 2px; }

.emotionTitle {
  display: inline-block;
  margin-left: 12px;
  margin-top: 11px;
  font-size: 22px;
  font-family: "微软雅黑";
  font-weight: 700;
  color: #3295AC; }

.keySpan {
  color: #999; }

/*# sourceMappingURL=detail.css.map */
